.App-header {
  background: #025ba9;
  background: radial-gradient(circle, #025ba9 0%, #025ba9 50%, #003360 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

